.container{
    width: 80%;
    margin:10% auto;
    padding:2rem;
    background-color: rgb(249, 227, 188);
    height: 30vh;
    border-radius: 10px;
    box-shadow: 1rem 1rem 1rem grey;
    border: 2px solid black;
}
.quote{
    width: 100%;
    margin: auto;
    height:5rem;
}
.container button{
    padding:0.5rem 1rem;
    border: 2px solid rgba(255, 255, 255,);
    border-radius: 6px;
    background-color:rgba(0, 0, 0, 0.107);
    color: rgb(0, 0, 0);
    margin: auto auto 1rem auto;
}
.container button:hover{
    background-color: #ffffff63;
    cursor: pointer;
}
@media only screen and (max-width: 790px){
    .container{
        width: 100%;
        padding:0.5rem;
    }
}
